body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#turn{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  background-color:black;
  background-image:url('../img/rotate.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  display:none;
}
